*tmp
*.db
.DS_Store
*-build
*.log
*.pyc
*.swp
*.swo
secret.txt
.dev
.idea
.vendor
.vagrant
.vscode
debug
debug.test
build
bundles
node_modules
/.env
services/mysql/*
*.retry
__pycache__

!.gitkeep
!.keep
!empty
